{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/delete" method="post">
                    <table class="table">
                        <tr>
                            <td>Mobile Number</td>
                            <td> <input type="text" name="mobnumber" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button type="submit" class="btn btn-success">Delete</button></td>
                        </tr>
                    </table>
                </form>
             </div>
        </div>
    </div>
    {% endblock %}
